<footer class="footer">
	<div id="clustrmaps">
		<script
			type="text/javascript"
			id="clustrmaps"
			src="//clustrmaps.com/map_v2.js?d=y256iOpqqK7BJVXoZgRRKruph7ocqfQDUTkfd9oysNQ&cl=ffffff&w=a"
		></script>
	</div>
	<app-social></app-social>
	<h2
		class="wow {{
			footerData['citation']['animationClass']
		}} copyright-desc mb-0 h6"
	>
		Thanks to&nbsp;
		<i class="{{ footerData['citation']['icon'] }}"></i>&nbsp;
		<a href="{{ footerData['citation']['link'] }}">{{
			footerData["citation"]["template"]
		}}</a>
	</h2>
</footer>
