<footer class="footer">
	<app-social></app-social>
	<h2 class="wow copyright-desc mb-0 h6">
		Thanks to&nbsp;
		<i class="{{ footerData['citation']['icon'] }}"></i>&nbsp;
		<a href="{{ footerData['citation']['link'] }}">{{
			footerData["citation"]["template"]
		}}</a>
	</h2>
	<div id="clustrmaps">
		<a href="https://clustrmaps.com/site/1c5hk" title="Visit tracker"
			><img
				src="//clustrmaps.com/map_v2.png?cl=ffffff&w=222&t=n&d=VTXtjwowwzjph_oxeD-vtMi1fEFITz84P0C6mc0zB0A"
		/></a>
	</div>
</footer>
